# API
API_HOST=localhost
API_PORT=3000
API_DB_URL=postgres://todoapp:todoapp@localhost:5432/todoapp?sslmode=disable
API_BASE_PATH=/api
API_KEYCLOAK_JWKS_URL=http://localhost:8080/realms/todoapp/protocol/openid-connect/certs
API_KEYCLOAK_AUTH_URL=http://localhost:8080/realms/todoapp/protocol/openid-connect/auth
API_KEYCLOAK_TOKEN_URL=http://localhost:8080/realms/todoapp/protocol/openid-connect/token
API_KEYCLOAK_SWAGGER_CLIENT_ID=swagger-ui


# Database
POSTGRES_DB=todoapp
POSTGRES_USER=todoapp
POSTGRES_PASSWORD=todoapp

# Keycloak
KC_DB_NAME=keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=keycloak
KC_ADMIN=admin
KC_ADMIN_PASSWORD=admin
